html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    overflow: hidden;
    /*background-image: url("../../images/bg-Lucy.png");*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    position: absolute;
    margin: auto;
    /*color: transparent;*/
    color: rgba(196, 215, 231);
    text-shadow: 0 0 5px rgba(252, 128, 200, 0.9);
    /*box-shadow: 0 0 15px 0 rgba(252, 128, 200, 0.9);*/
}

p {
    position: absolute;
    margin: auto;
    /*top: 35px;*/
    right: 5px;
    color: #aaa;
}